#nav-bar {
   padding: 50px 100px 1px 1px;
    color: azure;
    mso-generic-font-family: decorative;
}

#intro-paragraph {
   padding: 25px 500px 75px 50px;
}

#footer {
   padding: 1px 1px 1px 1px;
}